@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700&display=swap");
@import "tailwindcss";


:root {
  --primary-color: #ff2056;
  --secondary-color: #1e0032;
  --thirdary-color: #f08a5d;
}

@theme {
  --font-display: "Raleway", "sans-serif"; 
}

.secondary-color {
  color: var(--secondary-color);
}

::selection {
  color: rgb(255, 255, 255);
  background: var(--primary-color);
}

html, body {
  height: auto;
  font-size: 1rem;
  color: black;
  margin: 0;
  @media (min-width: 768px){
    cursor: none;
  }
}

.cool {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    bottom: -5px;
    left: 2px;
    background-color: var(--primary-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}

.glitch {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  position:absolute;
  text-transform: uppercase;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  margin: 0;
  text-decoration: none;
  color: #fff;
  &:before,
  &:after {
    display: block;
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
    
  }
  &:after {
    color: #0ff;
    transform: translate(-5px, -3px);
    z-index: -2;
  }
  &:before {
    color: #ff2056;
    transform: translate(-2px, 2px);
    transform: translate(5px, -3px);
    z-index: -1;
  }
  &:hover {
    &:before {
      animation: glitch-left 1s cubic-bezier(.25, .46, .45, .94) both infinite
    }
    &:after {
      animation: glitch-left-2 1s cubic-bezier(.25, .46, .45, .94) reverse both infinite
    }
  }
}


@keyframes glitch-left {
  0% {
    transform: translate(-5px, 3px)
  }
  33% {
    transform: translate(5px, -3px)
  }
  66% {
      transform: translate(0)
  }
  to {
    transform: translate(-5px, 3px)
  }
}

@keyframes glitch-left-2 {
  0% {
    transform: translate(-5px, 3px)
  }
  33% {
    transform: translate(5px, -3px)
  }
  66% {
      transform: translate(0)
  }
  to {
    transform: translate(-5px, 3px)
  }
}

.red-dot {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    border-radius: 50%;
    right: -0.7rem;
    width: 0.4rem;
    height: 0.4rem;
    background: var(--primary-color);
  }
}

.canvasWrapper {
  position: relative;
  & canvas {
    height: 100vh;
    background-color: var(--secondary-color)
  }
}

.react-markdown-section img {
  margin: 2rem 0;
}

.react-markdown-section p {
  margin-bottom: 1rem;
}

.react-markdown-section li {
  margin-bottom: 0.5rem;
}

.react-markdown-section li::before {
  content: "\2022";
  margin-right: 0.5rem;
}