@import "tailwindcss";

:root {
  --primary-color: #ff2056;
  --secondary-color: #2b2e4a;
  --thirdary-color: #f08a5d;
}

::selection {
  color: rgb(255, 255, 255);
  background: var(--primary-color);
}

html, body {
  height: auto;
  font-size: 1rem;
  color: black;
  margin: 0;
  @media (min-width: 768px){
    cursor: none;
  }
}

.glitch {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-decoration: none;
  color: #fff;
  &:before,
  &:after {
    display: block;
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
    
  }
  &:after {
    color: #0ff;
    z-index: -2;
  }
  &:before {
    color: #bf1650;
    transform: translate(-2px, 2px);
    z-index: -1;
  }
  &:before {
    animation: glitch-left .6s cubic-bezier(.25, .46, .45, .94) both infinite
  }
  &:after {
    animation: glitch-left-2 .6s cubic-bezier(.25, .46, .45, .94) reverse both infinite
  }
}


@keyframes glitch-left {
  0% {
      transform: translate(0)
  }
  33% {
      transform: translate(-5px, 3px)
  }
  66% {
      transform: translate(5px, -3px)
  }
  to {
      transform: translate(0)
  }
}
@keyframes glitch-left-2 {
  0% {
      transform: translate(0)
  }
  33% {
      transform: translate(-5px, -3px)
  }
  66% {
      transform: translate(5px, 2px)
  }
  to {
      transform: translate(0)
  }
}

.red-dot {
  &:after {
    content: "";
    position: absolute;
    top: 55%;
    transform: translate(0px, -50%);
    border-radius: 50%;
    right: -0.7rem;
    width: 0.4rem;
    height: 0.4rem;
    background: var(--primary-color);
  }
}

pre {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 14px;
  font-family: 'Monaco', 'Consolas', 'Courier New', monospace;
  color: #333;
  white-space: pre-wrap;
}

pre::before {
  content: "\`";
  font-size: 16px;
  margin-right: 5px;
  color: #666;
}

pre::after {
  content: "\`";
  font-size: 16px;
  margin-left: 5px;
  color: #666;
}

.canvasWrapper {
  position: relative;
  & canvas {
    height: 100vh;
    background-color: var(--secondary-color)
  }
}

.react-markdown-section img {
  margin: 2rem 0;
}

.react-markdown-section p {
  margin-bottom: 0.5rem;
}

.react-markdown-section li {
  margin-bottom: 0.5rem;
}

.react-markdown-section li::before {
  content: "\2022";
  margin-right: 0.5rem;
}